# Import the necessary libraries

In [1]:
import pandas as pd
import sys
import os
import matplotlib.pyplot as plt
import seaborn as sns
 

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../scripts')))
from load_csv_data import Load_CSV_Data
from RFMS_score_and_classify_good_bad import construct_rfms, classify_users
from weight_of_evidence import woe_binning

# Load the data

In [2]:
df = Load_CSV_Data('../data/updated_transactions_data.csv')
df.load_csv_data()
df = df.get_data()

Data successfully loaded from ../data/updated_transactions_data.csv

c:\Users\wubeshet.abera\Projects\Ten-Academy\Bati-bank-credit-scoring-model\scripts\load_csv_data.py:12: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  self.data = pd.read_csv(self.file_path)

# RFMS Score

In [3]:

# Apply the RFMS score to your data
df = construct_rfms(df)
df.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ChannelId,...,ProductCategory_ticket,ProductCategory_transport,ProductCategory_tv,ProductCategory_utility_bill,Recency,Frequency,Monetary,TransactionMonth,Seasonality,RFMS_Score
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,1762,0,256.0,5,1,2,...,False,False,False,False,2063,118,-5.537408,11.0,11.0,725.154197
1,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,2009,0,256.0,6,0,2,...,False,False,False,False,2143,2,-0.100857,11.0,11.0,714.966381
2,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,3039,0,256.0,0,3,2,...,False,False,False,True,2067,37,-0.155720,11.0,12.0,701.281427
3,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,2424,0,256.0,5,8,2,...,False,False,False,False,2152,1,-0.024647,11.0,11.0,717.658451
4,TransactionId_118063,BatchId_118460,AccountId_2442,SubscriptionId_1980,365,0,256.0,4,8,2,...,False,False,False,False,2067,29,-0.822556,11.0,12.0,698.392481

# Classify user as good and bad

In [4]:
df = classify_users(df, threshold=50)
df.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ChannelId,...,ProductCategory_transport,ProductCategory_tv,ProductCategory_utility_bill,Recency,Frequency,Monetary,TransactionMonth,Seasonality,RFMS_Score,UserCategory
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,1762,0,256.0,5,1,2,...,False,False,False,2063,118,-5.537408,11.0,11.0,725.154197,Good
1,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,2009,0,256.0,6,0,2,...,False,False,False,2143,2,-0.100857,11.0,11.0,714.966381,Good
2,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,3039,0,256.0,0,3,2,...,False,False,True,2067,37,-0.155720,11.0,12.0,701.281427,Good
3,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,2424,0,256.0,5,8,2,...,False,False,False,2152,1,-0.024647,11.0,11.0,717.658451,Good
4,TransactionId_118063,BatchId_118460,AccountId_2442,SubscriptionId_1980,365,0,256.0,4,8,2,...,False,False,False,2067,29,-0.822556,11.0,12.0,698.392481,Good

In [5]:
# # # Convert columns to numerical if they are supposed to be numeric
# df['Monetary'] = pd.to_numeric(df['Monetary'], errors='coerce')  # Use 'coerce' to handle non-numeric values
# df['Recency'] = pd.to_numeric(df['Recency'], errors='coerce')
# df['Frequency'] = pd.to_numeric(df['Frequency'], errors='coerce')
# df['Seasonality'] = pd.to_numeric(df['Seasonality'], errors='coerce')

# # Check if there are any non-numeric values in the columns (e.g., NaN after conversion)
# print(df[['Monetary', 'Recency', 'Frequency', 'Seasonality']].info())

# # If you have NaN values after conversion, you can decide to fill or drop them:
# # Fill with 0 or some other default value
# df.fillna(0, inplace=True)

# # OR drop rows with NaN values in those columns
# # df.dropna(subset=['Monetary', 'Recency', 'Frequency', 'Seasonality'], inplace=True)

# # Continue with the WoE binning

# Weight of evidence (WoE) binning

In [6]:
# # Apply WoE binning to RFMS_Score
# df = woe_binning(df, 'UserCategory', 'RFMS_Score', n_bins=5)