# Import the necessary libraries

In [5]:
import pandas as pd
import sys
import os
import matplotlib.pyplot as plt
import seaborn as sns
 

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../scripts')))
from load_data import Load_Data
from feature_engineering import create_aggregate_features, extract_time_features, encode_categorical_features, handle_missing_values, scale_numerical_features

# Load the data

In [6]:
df = Load_Data('../data/data.xlsx')
df.load_data()
df = df.get_data()

Data successfully loaded from ../data/data.xlsx

# Feature Engineering

### Create Aggregate Features

In [21]:
 create_aggregate_features(df)

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,Unnamed: 16,Unnamed: 17,Total_Transaction_Amount,Average_Transaction_Amount,Transaction_Count,Transaction_Amount_Std,Transaction_Hour,Transaction_Day,Transaction_Month,Transaction_Year
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,2584,0,256.0,5,1,airtime,...,January542024,NaN,109941.75,931.709746,118,3054.011330,2.0,15.0,11.0,2018.0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,2806,0,256.0,6,0,airtime,...,March552026,202554March,1000.00,500.000000,2,0.000000,2.0,15.0,11.0,2018.0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,3733,0,256.0,0,11,utility_bill,...,April542027,202454March,229371.20,6199.221622,37,17369.648180,3.0,15.0,11.0,2018.0
5,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,318,0,256.0,5,16,airtime,...,June542029,202454March,3679.00,3679.000000,1,NaN,3.0,15.0,11.0,2018.0
6,TransactionId_118063,BatchId_118460,AccountId_2442,SubscriptionId_1980,1326,0,256.0,4,16,airtime,...,July542030,202454March,93400.00,3220.689655,29,5493.966126,3.0,15.0,11.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,BatchId_96668,AccountId_4841,SubscriptionId_3829,1504,0,256.0,3,19,financial_services,...,NaN,NaN,2438140.00,4255.043630,573,22554.029939,9.0,13.0,2.0,2019.0
95658,TransactionId_91597,BatchId_3503,AccountId_3439,SubscriptionId_2643,2154,0,256.0,5,1,airtime,...,NaN,NaN,58499.60,1360.455814,43,2274.756582,9.0,13.0,2.0,2019.0
95659,TransactionId_82501,BatchId_118602,AccountId_4841,SubscriptionId_3829,2154,0,256.0,3,19,financial_services,...,NaN,NaN,58499.60,1360.455814,43,2274.756582,9.0,13.0,2.0,2019.0
95660,TransactionId_136354,BatchId_70924,AccountId_1346,SubscriptionId_652,521,0,256.0,5,8,tv,...,NaN,NaN,851985.00,1625.925573,524,3207.920536,10.0,13.0,2.0,2019.0
95661,TransactionId_35670,BatchId_29317,AccountId_4841,SubscriptionId_3829,521,0,256.0,3,19,financial_services,...,NaN,NaN,851985.00,1625.925573,524,3207.920536,10.0,13.0,2.0,2019.0

### Extract Features

In [20]:
extract_time_features(df)

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,Unnamed: 16,Unnamed: 17,Total_Transaction_Amount,Average_Transaction_Amount,Transaction_Count,Transaction_Amount_Std,Transaction_Hour,Transaction_Day,Transaction_Month,Transaction_Year
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,2584,0,256.0,5,1,airtime,...,January542024,NaN,109941.75,931.709746,118,3054.011330,2.0,15.0,11.0,2018.0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,2806,0,256.0,6,0,airtime,...,March552026,202554March,1000.00,500.000000,2,0.000000,2.0,15.0,11.0,2018.0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,3733,0,256.0,0,11,utility_bill,...,April542027,202454March,229371.20,6199.221622,37,17369.648180,3.0,15.0,11.0,2018.0
5,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,318,0,256.0,5,16,airtime,...,June542029,202454March,3679.00,3679.000000,1,NaN,3.0,15.0,11.0,2018.0
6,TransactionId_118063,BatchId_118460,AccountId_2442,SubscriptionId_1980,1326,0,256.0,4,16,airtime,...,July542030,202454March,93400.00,3220.689655,29,5493.966126,3.0,15.0,11.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,BatchId_96668,AccountId_4841,SubscriptionId_3829,1504,0,256.0,3,19,financial_services,...,NaN,NaN,2438140.00,4255.043630,573,22554.029939,9.0,13.0,2.0,2019.0
95658,TransactionId_91597,BatchId_3503,AccountId_3439,SubscriptionId_2643,2154,0,256.0,5,1,airtime,...,NaN,NaN,58499.60,1360.455814,43,2274.756582,9.0,13.0,2.0,2019.0
95659,TransactionId_82501,BatchId_118602,AccountId_4841,SubscriptionId_3829,2154,0,256.0,3,19,financial_services,...,NaN,NaN,58499.60,1360.455814,43,2274.756582,9.0,13.0,2.0,2019.0
95660,TransactionId_136354,BatchId_70924,AccountId_1346,SubscriptionId_652,521,0,256.0,5,8,tv,...,NaN,NaN,851985.00,1625.925573,524,3207.920536,10.0,13.0,2.0,2019.0
95661,TransactionId_35670,BatchId_29317,AccountId_4841,SubscriptionId_3829,521,0,256.0,3,19,financial_services,...,NaN,NaN,851985.00,1625.925573,524,3207.920536,10.0,13.0,2.0,2019.0

### Encode categorical features

In [12]:
encode_categorical_features(df)

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ChannelId,...,Transaction_Month,Transaction_Year,ProductCategory_data_bundles,ProductCategory_financial_services,ProductCategory_movies,ProductCategory_other,ProductCategory_ticket,ProductCategory_transport,ProductCategory_tv,ProductCategory_utility_bill
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,2584,0,256.0,5,1,2,...,11.0,2018.0,False,False,False,False,False,False,False,False
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,2584,0,NaN,3,19,1,...,11.0,2018.0,False,True,False,False,False,False,False,False
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,2806,0,256.0,6,0,2,...,11.0,2018.0,False,False,False,False,False,False,False,False
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,3733,0,256.0,0,11,2,...,11.0,2018.0,False,False,False,False,False,False,False,True
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,3733,0,NaN,3,19,1,...,11.0,2018.0,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,BatchId_96668,AccountId_4841,SubscriptionId_3829,1504,0,256.0,3,19,1,...,2.0,2019.0,False,True,False,False,False,False,False,False
95658,TransactionId_91597,BatchId_3503,AccountId_3439,SubscriptionId_2643,2154,0,256.0,5,1,2,...,2.0,2019.0,False,False,False,False,False,False,False,False
95659,TransactionId_82501,BatchId_118602,AccountId_4841,SubscriptionId_3829,2154,0,256.0,3,19,1,...,2.0,2019.0,False,True,False,False,False,False,False,False
95660,TransactionId_136354,BatchId_70924,AccountId_1346,SubscriptionId_652,521,0,256.0,5,8,2,...,2.0,2019.0,False,False,False,False,False,False,True,False
95661,TransactionId_35670,BatchId_29317,AccountId_4841,SubscriptionId_3829,521,0,256.0,3,19,1,...,2.0,2019.0,False,True,False,False,False,False,False,False

### Handle missing value

In [13]:
handle_missing_values(df)

c:\Users\wubeshet.abera\Projects\Ten-Academy\Bati-bank-credit-scoring-model\scripts\feature_engineering.py:49: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Amount'].fillna(df['Amount'].mean(), inplace=True)
c:\Users\wubeshet.abera\Projects\Ten-Academy\Bati-bank-credit-scoring-model\scripts\feature_engineering.py:50: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Transaction_Amount_Std'].fillna(df['Transaction_Amount_Std'].mean(), inplace=True)

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,Unnamed: 16,Unnamed: 17,Total_Transaction_Amount,Average_Transaction_Amount,Transaction_Count,Transaction_Amount_Std,Transaction_Hour,Transaction_Day,Transaction_Month,Transaction_Year
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,2584,0,256.0,5,1,airtime,...,January542024,NaN,113620.75,954.796218,119,3051.453456,2.0,15.0,11.0,2018.0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,2806,0,256.0,6,0,airtime,...,March552026,202554March,1000.00,500.000000,2,0.000000,2.0,15.0,11.0,2018.0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,3733,0,256.0,0,11,utility_bill,...,April542027,202454March,228727.20,6019.136842,38,17169.241610,3.0,15.0,11.0,2018.0
5,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,318,0,256.0,5,16,airtime,...,June542029,202454March,3679.00,3679.000000,1,18037.114134,3.0,15.0,11.0,2018.0
6,TransactionId_118063,BatchId_118460,AccountId_2442,SubscriptionId_1980,1326,0,256.0,4,16,airtime,...,July542030,202454March,93400.00,3220.689655,29,5493.966126,3.0,15.0,11.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,BatchId_96668,AccountId_4841,SubscriptionId_3829,1504,0,256.0,3,19,financial_services,...,NaN,NaN,2438140.00,4255.043630,573,22554.029939,9.0,13.0,2.0,2019.0
95658,TransactionId_91597,BatchId_3503,AccountId_3439,SubscriptionId_2643,2154,0,256.0,5,1,airtime,...,NaN,NaN,58499.60,1360.455814,43,2274.756582,9.0,13.0,2.0,2019.0
95659,TransactionId_82501,BatchId_118602,AccountId_4841,SubscriptionId_3829,2154,0,256.0,3,19,financial_services,...,NaN,NaN,58499.60,1360.455814,43,2274.756582,9.0,13.0,2.0,2019.0
95660,TransactionId_136354,BatchId_70924,AccountId_1346,SubscriptionId_652,521,0,256.0,5,8,tv,...,NaN,NaN,851985.00,1625.925573,524,3207.920536,10.0,13.0,2.0,2019.0
95661,TransactionId_35670,BatchId_29317,AccountId_4841,SubscriptionId_3829,521,0,256.0,3,19,financial_services,...,NaN,NaN,851985.00,1625.925573,524,3207.920536,10.0,13.0,2.0,2019.0

### Scale numerical features

In [22]:
scale_numerical_features(df)

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,Unnamed: 16,Unnamed: 17,Total_Transaction_Amount,Average_Transaction_Amount,Transaction_Count,Transaction_Amount_Std,Transaction_Hour,Transaction_Day,Transaction_Month,Transaction_Year
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,2584,0,256.0,5,1,airtime,...,January542024,NaN,0.170120,-0.067533,118,-0.167794,2.0,15.0,11.0,2018.0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,2806,0,256.0,6,0,airtime,...,March552026,202554March,0.165123,-0.072571,2,-0.201995,2.0,15.0,11.0,2018.0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,3733,0,256.0,0,11,utility_bill,...,April542027,202454March,0.175597,-0.006057,37,-0.007478,3.0,15.0,11.0,2018.0
5,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,318,0,256.0,5,16,airtime,...,June542029,202454March,0.165246,-0.035470,1,NaN,3.0,15.0,11.0,2018.0
6,TransactionId_118063,BatchId_118460,AccountId_2442,SubscriptionId_1980,1326,0,256.0,4,16,airtime,...,July542030,202454March,0.169361,-0.040818,29,-0.140470,3.0,15.0,11.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,BatchId_96668,AccountId_4841,SubscriptionId_3829,1504,0,256.0,3,19,financial_services,...,NaN,NaN,0.276904,-0.028747,573,0.050581,9.0,13.0,2.0,2019.0
95658,TransactionId_91597,BatchId_3503,AccountId_3439,SubscriptionId_2643,2154,0,256.0,5,1,airtime,...,NaN,NaN,0.167760,-0.062529,43,-0.176521,9.0,13.0,2.0,2019.0
95659,TransactionId_82501,BatchId_118602,AccountId_4841,SubscriptionId_3829,2154,0,256.0,3,19,financial_services,...,NaN,NaN,0.167760,-0.062529,43,-0.176521,9.0,13.0,2.0,2019.0
95660,TransactionId_136354,BatchId_70924,AccountId_1346,SubscriptionId_652,521,0,256.0,5,8,tv,...,NaN,NaN,0.204154,-0.059431,524,-0.166070,10.0,13.0,2.0,2019.0
95661,TransactionId_35670,BatchId_29317,AccountId_4841,SubscriptionId_3829,521,0,256.0,3,19,financial_services,...,NaN,NaN,0.204154,-0.059431,524,-0.166070,10.0,13.0,2.0,2019.0